<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
    .contenedor{
        display:flex;
        justify-content:center;
    }
    div{
        margin:15px;
    }
</style>
<body>
    <div  class="contenedor">
        <form action="/operar/" method="get">
            <center><h1>Calculadora</h1></center>
            <br>
            <div>
                <label>Numero 1: </label>
                <input type="number" required id="numero2" name="numero2">
            </div>
            <div>
                <select name="op">
                    <option value="1">+</option>
                    <option value="2">-</option>
                    <option value="3">*</option>
                    <option value="4">/</option>
                </select>    
            </div>    
            <div>
                <label>Numero 2:</label>
                <input type="number" required id="numero2" name="numero1">
            </div>
            <div>
                <input type="submit" value="Operar" name="retirar">
            </div>    
        </form>    
</div>
<div>
    resultado => {{resultado}}
</div>
</body>
</html>